/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #faf4f2;
}

.clear {
    clear: both;
}

.container {
    max-width: 1440px;
    margin: auto;
}

/* HEADER */
.header {
    padding: 15px 40px;
    background-color: #f8e1db;
}

.header ul {
    list-style: none;
    padding-top: 10px;
}

.header li {
    display: inline;
    margin-right: 20px;
}

.header a {
    text-decoration: none;
    color: black;
}

/* CAROUSEL */
.carousel {
    height: 500px;
    background: url(../img/BG.png) no-repeat center;
    background-size: cover;
}

/* ACTIVITIES */
.activities {
    padding: 50px 0;
}

/* .activities__content {
    max-width: 1440px;
    margin: auto;
} */

.activities__heading {
    text-align: center;
    padding-bottom: 20px;
}

.activities__heading h2 {
    color: #8d8d8d;
}

.activities__item {
    width: 25%;
    float: left;

    padding: 0 20px;
}

.activities__bg {
    background-color: white;
    padding: 30px;
    border-radius: 20px;
}

.activities__img {
    position: relative;
}

.activities__img img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.activities__icon  {
    font-size: 20px;
    color: #e76f51;

    display: block;
    width: 40px;
    height: 40px;
    /* background-color: rgba(255, 255, 255, 0.6); */
    background-color: white;
    opacity: .6;
    text-align: center;
    line-height: 40px;
    border-radius: 10px;

    position: absolute;
    top: 20px;
    right: 15px;
}

.activities__dec {
    text-align: center;
    padding-top: 10px;
}

.activities__dec p {
    padding: 15px 0;
    font-size: small;
    color: #8d8d8d;
}

.activities__dec button {
    padding: 10px 50px;
    background-color: #e8e8e8;
    border: 1px solid #e8e8e8;
    border-radius: 50px;
    cursor: pointer;

    font-weight: bold;
    color: #8d8d8d;
}

.activities__viewall {
    text-align: center;
    padding-top: 30px;
}

.activities__viewall button {
    padding: 10px 50px;
    background-color: #faf4f2;
    border: 2px solid #eb8e76;
    border-radius: 50px;
    cursor: pointer;
    color: #eb8e76;
    font-weight: bold;
}

/* CONTACT */
.contact {
    background-color: #f8e1db;
    border-radius: 20px;
}

.contact__left,
.contact__right {
    float: left;
    width: 50%;
    padding: 20px 60px;
}

.contact__left {
    background: url(../img/mask.png) no-repeat center;
    background-size: cover;
}

.contact__right {
    padding-top: 70px;
}

.contact__right p {
    margin: 12px 0 30px;
}

.contact__right h3 {
    margin-bottom: 20px;
}

.contact__app,
.contact__us {
    float: left;
    width: 50%;
}

.contact__us a {
    text-decoration: none;
}

.contact__us i {
    color: #e76f51;
    font-size: 25px;
    margin-right: 10px;
}

.contact__right h2,
.contact__right p,
.contact__right h3 {
    color: #8d8d8d;
}

/* FOOTER */
.footer {
    background-color: #f8e1db;
    margin-top: 70px;
    border-radius: 100px 100px 0 0;
    padding: 100px 30px;
    color: #3b3735;
}

.footer h3 {
    font-size: 18px;
    margin-bottom: 20px;
}

.footer__about {
    float: left;
    width: 40%;
    padding: 0 20px;
    line-height: 28px;
}

.footer__list {
    float: left;
    width: 60%;
}

.footer__nav {
    float: left;
    width: calc(100%/3);
}

.footer__nav li {
    list-style: none;
    margin-bottom: 12px;
}

.footer__nav a {
    text-decoration: none;
    color: #3b3735;
}

.footer__copyrights {
    text-align: center;
    padding-top: 30px;
}